.Container{
    margin-top: 110;
    display: flex;
    width: 100%;
    height: 88%;
    justify-content: center;
    align-items: center;
}

.MainPage{
    width: 100%;
    max-width: 1500px;
    height: 100%;
    background-color: black;
}

.bg-img{
    width: 100%;
}

.bg{
    width: 100%;
}

.prev-img,
.next-img{
    position: absolute;
    width: 4.5%;
    height: 27.2%;
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
}

.prev-img:hover,
.next-img:hover{
    cursor: pointer;
}

.arrow{
    height: 35px;
}

.prev-img:active,
.next-img:active{
    border-color: white;
    border: 3px solid rgb(101, 95, 116);
    outline: 2px solid white;
}

.next-img{
    margin-left: 1414px;
}

.img-container{
    position: absolute;
    width: 500px;
    background-color: white;
}

.Containeritem{
    display: flex;
    position: absolute;
    margin-top: -18.7%;
    background-color: aqua;
    width: 100%;
    height: 20px;

    justify-content: center;
}

.container1{
    position: absolute;
    width: 97.2%;
    height: 45.8%;
    background-color: brown;
}
